# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env
*.ipynb

# ============================================================
# dbt
# ============================================================

dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/package-lock.yml


# ============================================================
# Snowflake / temporary files
# ============================================================

*.pem
*.key
*.p8
*.sql.tmp
*.tmp


# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# Local data
# ============================================================

data/
downloads/
*.parquet
*.csv


# ============================================================
# Streamlit
# ============================================================

.streamlit/secrets.toml
